body {
    background: black;
    color: white;
}

.bottom-button {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}

.dashboard {
    font-size: 50pt;
}

.time {
    font-family: monospace;
}